extends layout

block content

  div(class="navbar navbar-default navbar-static-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand", href="#") kLab Lunches
      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li(class="active")
            a(href="#greatwall") Great Wall

  div(class="container", ng-controller="GreatWall")
    div(class="page-header")
      h1(id="greatwall") Great Wall Chinese
    p(class="lead") Less time spent ordering means more time drinking and discussing the price of bitcoin.

    input(type="number", class="form-control input-lg", placeholder="Enter number of people", ng-model="people", ng-change="refresh()")
    div(class="alert alert-danger", ng-if="error") {{ error }}
    br
    ul(class="list-group")
      li(class="list-group-item", ng-repeat="ordered in items")
        b(style="padding-right: 10px") {{ ordered.item.code }}
        span {{ ordered.item.name }}
        div(style="float: right")
          span(class="label label-default") {{ ordered.quantity }} {{ ordered.size }}

    div(align="center")
      button(type="submit", class="btn btn-primary", ng-click="refresh()", ng-if="people > 0") Mmm.. try again
