
body {
	background-color: #f6f1d9;
}

.gw-page-header {
	border-bottom: 1px solid #beaf86;
}

/**
 * Prevent cloaked elements from appearing: http://docs.angularjs.org/api/ng/directive/ngCloak
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}